[submodule "aseba"]
	path = aseba
	url = https://github.com/aseba-community/aseba.git
	branch = master
[submodule "enki"]
	path = enki
	url = https://github.com/enki-community/enki.git
	branch = master
[submodule "third_party/QtZeroConf"]
	path = third_party/QtZeroConf
	url = https://github.com/Mobsya/QtZeroConf
[submodule "third_party/qmllive"]
	path = third_party/qmllive
	url = git://code.qt.io/qt-apps/qmllive.git
