[submodule "enki"]
	path = enki
	url = https://github.com/enki-community/enki
[submodule "dashel"]
	path = dashel
	url = https://github.com/mobsya/dashel
[submodule "third_party/QtZeroConf"]
	path = third_party/qtzeroconf
	url = https://github.com/Mobsya/QtZeroConf
[submodule "third_party/libusb/libusb"]
	path = third_party/libusb/libusb
	url = https://github.com/Mobsya/libusb.git
