*~
*.pyc
._*
.DS_Store
.directory
docs/*/_build
dashel/
enki/
*.qm
*.pro.user*
._.DS_Store
build/
*.qmlc
*.jsc
CMakeLists.txt.user
Qt/
scratch/
vpl3-thymio-suite/
*.jks
thymio_blockly/
ios.7z
Brewfile.lock.json
