*~
*.pyc
._*
.DS_Store
.directory
docs/*/_build
dashel/
enki/
*.qm
*.pro.user*
._.DS_Store
build/
*.qmlc
*.jsc
.vscode/
Qt/
ThymioSuite.dmg
aseba/clients/vpl2/icons/icon.png
build_xcode/
js/dist/
js/mobsya-thymio-api-0.10.2.tgz
js/node_modules/
js/package-lock.json
js/src/thymio_generated.ts
js/uninstall-node.sh
osx_runme.sh
output/
runme.sh
scratch/
third_party/catch2/cmake_install.cmake
third_party/expected/cmake_install.cmake
third_party/libusb/cmake_install.cmake
third_party/qt-solutions/CMakeFiles/
third_party/qt-solutions/CMakeScripts/
third_party/qt-solutions/cmake_install.cmake
third_party/spdlog/cmake_install.cmake
thymio_blockly/
vpl3-thymio-suite.tar.gz
vpl3-thymio-suite/
build_osx/
