[Desktop Entry]
Type=Application
Name=Thymio Suite
GenericName=Integrated Development Environment
GenericName[fr]=Environnement de développement intégré
GenericName[de]=Integrierte Entwicklungsumgebung
GenericName[it]=Ambiente di sviluppo integrato
GenericName[es]=Ambiente de desarrollo integrado
GenericName[pt]=Ambiente de desenvolvimento integrado
Exec=thymio-launcher
TryExec=thymio-launcher
Categories=Education;Science;
Icon=org.mobsya.ThymioSuite
